<div>

    <form id="productForm">
  <input type="text" name="title" placeholder="Título" required>
  <input type="text" name="description" placeholder="Descripción" required>
  <input type="number" name="price" placeholder="Precio" required>
  <button type="submit">Agregar Producto</button>
</form>
<ul id="lista-productos">
    
</ul>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
 
            socket.on('productos', (productos) => {
        const listaProductos = document.getElementById('lista-productos');
        console.log(productos)
        
        listaProductos.innerHTML = '';
        
        productos.forEach(producto => {
            const card = document.createElement('div');
            card.classList.add('card');


            const title = document.createElement('h2');
            title.textContent = producto.title;

            const description = document.createElement('p');
            description.textContent = producto.description;

            const price = document.createElement('p');
            price.textContent = `Precio: ${producto.price} USD`;

            const stock = document.createElement('p');
            stock.textContent = `Stock: ${producto.stock}`;

            // Agrega elementos a la tarjeta
            card.appendChild(title);
            card.appendChild(description);
            card.appendChild(price);
            card.appendChild(stock);
          

            // Agrega la tarjeta a la lista de productos
            listaProductos.appendChild(card);
        });
        });

       



      const agregarProducto = document.getElementById('agregar-producto');
      agregarProducto.addEventListener('click', () => {
        const nuevoProducto = document.getElementById('nuevo-producto').value;
        socket.emit('agregarProducto', nuevoProducto);
      });
    </script>
</div>